
.main {
    display: flex;
    flex: auto;
    flex-direction: row;
    justify-content: space-around;
    width:100%;
}

.main_left_container {
    display: flex;
    margin-top: 48px;
    margin-left: 48px;
    width: 40%;
    height: 400px;
    flex-direction: row;
}

.main_right_container {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 200px;
    margin-top: 90px;
    margin-right: 48px;
}

.main_right_container_text {
    color: white;
    text-align: center;
    font-family: Verdana;
    font-size: large;
}