<app-page>
    <div style="width:100%; display: flex; flex-direction:column">
        <div class="main color_background_mid">
            <div class="main_left_container">
                <img class="main-image" src="/img/front_page_stock_brokers.jpg">
            </div>
            <div class="main_right_container">
                <p class="main_right_container_text">Practicing trading, made easy</p>
                <p class="main_right_container_text">An online platform for making simulated trades on the Standard and Poor's 500 Index</p>
                <p class="main_right_container_text">Can you beat the stock market?</p>
                <button> Join Here! </button>
            </div>
        </div>
    </div>
</app-page>